.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


  .register-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);

    h2 {
      margin-bottom: 0.5rem;
      color: #333;
      font-size: 2rem;
    }

    p {
      margin-bottom: 2rem;
      color: #666;
    }

    .form-group {
      margin-bottom: 1.5rem;
      text-align: left;

      input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 1rem;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
          border-color: #ff6f61;
          box-shadow: 0 0 8px rgba(255, 111, 97, 0.5);
          outline: none;
        }

        &::placeholder {
          color: #999;
        }
      }
    }

    .register-button {
      background: #ff6f61;
      color: white;
      border: none;
      padding: 12px;
      width: 100%;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease, transform 0.2s ease;

      &:hover {
        background: #ff4b4b;
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0);
      }
    }
    .form-logo {
      max-width: 200px; // Prilagodite veličinu
      margin: 0 auto 1rem auto; // Centrirajte i dodajte razmak ispod
      display: block;
      border-radius: 8px; // Opciono
    }

    .login-link {
      margin-top: 1.5rem;
      color: #666;
      font-size: 0.9rem;

      a {
        color: #ff6f61;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  .register-container {
    padding: 0 1rem;
  }

  .register-box {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .register-box {
    padding: 1.5rem;
  }
}