.profile-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  margin: 0;
  padding: 0;

  .slider-container {
      position: relative;
      width: 100%;
      height: 100%;
      background: #ddd;
      border-radius: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
  }

  .user-info {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      border-radius: 8px;
      z-index: 1;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
      padding: 5px;

      h1 {
          margin: 0 5px;
          font-size: 20px;
          font-weight: bold;
          color: #ff6f61;
      }

      p {
          font-size: 20px;
          color: #fff;
      }
  }

  .image-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .profile-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .prev,
  .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 8px;
      cursor: pointer;
      font-size: 20px;
      border-radius: 50%;
      z-index: 10;
      opacity: 0.7;
      transition: opacity 0.3s ease;
  }

  .prev {
      left: 5px;
  }

  .next {
      right: 5px;
  }

  .prev:hover,
  .next:hover {
      opacity: 1;
  }

  .edit-button-container {
      position: absolute; // Promenjeno na absolute pozicioniranje
      bottom: 10px; // Pozicionirano na dno slidera
      left: 50%; // Centrirano horizontalno
      transform: translateX(-50%); // Centriranje
      width: 90%; // Prilagođavanje širine
      text-align: center;
      z-index: 10; // Postavljeno iznad slika
  }

  .edit-button {
      width: 100%;
      padding: 10px;
      background-color: #ff6f61;
      color: white;
      font-size: 14px;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .edit-button:hover {
      background-color: #e55a4f;
  }

  .default-icon {
      color: #ccc;
      display: block;
      margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .profile-slider {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 91.5vh;
      z-index: 100;
  }
}