.profile-slider {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 24vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  background: white;
  border-radius: 16px 0 0 16px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  .slider-container {
    width: 100%;
    height: 100%;
    background: #ddd;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .user-info {
    position: absolute;
    top: 10px;
    left: 0;
    right: 25%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 18px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2), transparent);
    text-align: left;

    h1 {
      font-size: 20px;
      font-weight: bold;
      color: #ff6f61;
      margin: 0;
    }

    p {
      font-size: 18px;
      color: white;
      margin: 0;
      font-weight: bold;
    }
  }

  .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 10;
    opacity: 0.7;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  .prev {
    left: 5px;
  }

  .next {
    right: 5px;
  }

  .edit-button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    z-index: 10;
  }

  .edit-button {
    width: 100%;
    padding: 8px;
    background-color: #ff6f61;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e55a4f;
    }
  }

  .default-icon {
    color: #ccc;
    display: block;
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  .profile-slider {
    top: 46%;
    left: 50%;
    width: 100vw;
    height: 93vh;
    transform: translate(-50%, -50%);
    border-radius: 0;
    box-shadow: none;
  }
}
