.current-user {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  
    &:hover {
      background: #e0e0e0;
    }
  
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ddd;
    }
  
    .user-info {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-grow: 1;
    }
  
    .user-name {
      font-size:20px;
      font-weight: bold;
      color: #333;
      margin-left: 10px;
    }
  
    .dropdown-icon {
      font-size: 20px;
      color: #333;
      transition: transform 0.3s ease;
      margin-left: auto;
    }
  
    .dropdown-icon.open {
      transform: rotate(180deg);
    }
  
    .dropdown-menu {
      position: absolute;
      top: 100%;
      right: -1px;
      background: white;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      width: 100px;
      text-align: center;
      z-index: 10;
      margin-top: 5px;
  
      button {
        width: 100%;
        padding: 5px ;
        background: #ff6f61;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: white;
        transition: background-color 0.3s ease;
  
        &:hover {
          background: #ff4d4d;
        }
      }
    }
  }
  .chat-sidebar {
    // ... (ostali stilovi)
    height: 100vh; // Dodajte visinu 100vh
    overflow-y: auto; // Omogućite skrolovanje
    position: relative; // Dodajte relativnu poziciju
    padding-bottom: 120px; // dodajemo padding, zbog tab buttons
    @media (max-width: 480px) {
        .current-user-container {
            position: fixed;
            top: 0;
            background-color: lightgrey;
            z-index: 10;
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #eee;

            .current-user {
                .avatar {
                    width: 80px;
                    height: 80px;
                }
                .user-name {
                    font-size: 28px;
                }
            }
        }

        .chat-list {
            padding-top: 110px; // Prilagodite padding-top
        }
    }
}